* {
  box-sizing: border-box;
}

:root {
  --primary-color: #004ca3;
  --secondary-color: #1c4e80;
  --faded-primary: #34acee;
  --info-text-color: #54595f;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

link {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #eff6ff; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-expanded {
  margin-left: 240px;
}

.selected {
  background: var(--secondary-color);
  color: #ffffff;
}
